doctype html
html
  head
    title= GrocMan
    link(rel='stylesheet', href='/stylesheets/signin.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block content